In [1]:
import jijbench as jb

In [2]:
""" 
    experiment = Experiment():
    for num_reads in [1, 2]:
        for num_sweeps in [10]:
            with experiment:
                ...
                
"""

bench = jb.Benchmark(
    params={"num_reads": [1, 2], "num_sweeps": [10]},
    solver="JijSASampler",
    targets="TSP"
)
bench.run()


""" 
bench = jb.Benchmark(
    params={"num_reads": [1, 2], "num_sweeps": [10]},
    solver="JijSASampler",
    targets=["TSP", "Knapsack"] # デフォルト複数
)
bench.run()

bench = jb.Benchmark(
    params={"num_reads": [1, 2], "num_sweeps": [10]},
    solver="JijSASampler",
    targets=[t1, t2] # カスタムver
)
bench.run() """

In [3]:
bench.table.dropna(how="all", axis=1).iloc[:, -20:]

,obj_std,num_occurances,num_reads,num_sweeps,num_feasible,num_samples,sampling_time,execution_time,problem_name,instance_name,opt_value,solver,onehot_time_violations,onehot_time_violation_min,onehot_time_violation_mean,onehot_time_violation_std,onehot_location_violations,onehot_location_violation_min,onehot_location_violation_mean,onehot_location_violation_std
0,0.0,[1],1,10,0,1,10122.867301,3817.662597,travelling_salesman,ftv35,1473.0,openjij_sa_sampler_sample,[29.0],29.0,29.0,0.0,[9.0],9.0,9.0,0.0
1,3.5,"[1, 1]",2,10,0,2,20788.943395,4041.017033,travelling_salesman,ftv35,1473.0,openjij_sa_sampler_sample,"[28.0, 29.0]",28.0,28.5,0.5,"[10.0, 11.0]",10.0,10.5,0.5

In [4]:
bench.evaluate()

/home/azureuser/JijBenchmark/jijbench/evaluation/evaluation.py:132: RuntimeWarning: divide by zero encountered in log
  return np.log(1 - pr) / np.log(1 - ps) * x.execution_time
/home/azureuser/JijBenchmark/jijbench/evaluation/evaluation.py:132: RuntimeWarning: divide by zero encountered in double_scalars
  return np.log(1 - pr) / np.log(1 - ps) * x.execution_time
/home/azureuser/JijBenchmark/jijbench/evaluation/evaluation.py:132: RuntimeWarning: divide by zero encountered in log
  return np.log(1 - pr) / np.log(1 - ps) * x.execution_time

,success_probability,feasible_rate,residual_energy,TTS(optimal),TTS(feasible),TTS(derived)
0,1.0,0.0,-0.866259,0.0,-inf,0.000000
1,1.0,0.0,-0.865241,0.0,-inf,26847.936029

In [5]:
bench.table.dropna(how="all", axis=1).iloc[:, -15:]

,solver,onehot_time_violations,onehot_time_violation_min,onehot_time_violation_mean,onehot_time_violation_std,onehot_location_violations,onehot_location_violation_min,onehot_location_violation_mean,onehot_location_violation_std,success_probability,feasible_rate,residual_energy,TTS(optimal),TTS(feasible),TTS(derived)
0,openjij_sa_sampler_sample,[29.0],29.0,29.0,0.0,[9.0],9.0,9.0,0.0,1.0,0.0,-0.866259,0.0,-inf,0.000000
1,openjij_sa_sampler_sample,"[28.0, 29.0]",28.0,28.5,0.5,"[10.0, 11.0]",10.0,10.5,0.5,1.0,0.0,-0.865241,0.0,-inf,26847.936029

In [ ]:
# TODO ベンチマークの設定をファイル出力しておく。再実験可能なようにするため

In [15]:
import jijbench as jb

# 複数ソルバー
def solver1():
    return 100, 1000, 10000

def solver2(x, a=2, b=3):
    return f"(x, a, b) = ({x}, {a}, {b})"


""" 
for solver in [solver1, solver2, "SASampler"]:
    experiment = Experiment()
    for num_reads in [1, 2, 3]:
        for num_sweeps in [10]:
            for x in [100, 200]:
                with experiment:
                    ret = solver(num_reads=num_reads, num_sweeps=num_sweeps, x=x) """

bench = jb.Benchmark(
    {"num_reads": [1], "num_sweeps": [10], "x": [100, 200]},
    solver = [solver1, solver2, "SASampler"]
)
bench.run()

In [8]:
bench.experiments

[<jijbench.experiment.experiment.Experiment at 0x7fc0c4b00100>,
 <jijbench.experiment.experiment.Experiment at 0x7fc0c32e9dc0>,
 <jijbench.experiment.experiment.Experiment at 0x7fc0c4b47340>]

In [16]:
bench.table.iloc[:, -15:]

,num_occurances,num_reads,num_sweeps,num_feasible,num_samples,sampling_time,execution_time,problem_name,instance_name,opt_value,solver,x,solver_return_values[0],solver_return_values[1],solver_return_values[2]
0,NaN,1,10,NaN,NaN,NaN,NaN,travelling_salesman,ftv35,1473.0,solver1,100.0,100.0,1000.0,10000.0
1,NaN,1,10,NaN,NaN,NaN,NaN,travelling_salesman,ftv35,1473.0,solver1,200.0,100.0,1000.0,10000.0
0,NaN,1,10,NaN,NaN,NaN,NaN,travelling_salesman,ftv35,1473.0,solver2,100.0,"(x, a, b) = (100, 2, 3)",NaN,NaN
1,NaN,1,10,NaN,NaN,NaN,NaN,travelling_salesman,ftv35,1473.0,solver2,200.0,"(x, a, b) = (200, 2, 3)",NaN,NaN

In [13]:
bench.evaluate()

/home/azureuser/JijBenchmark/jijbench/evaluation/evaluation.py:132: RuntimeWarning: divide by zero encountered in log
  return np.log(1 - pr) / np.log(1 - ps) * x.execution_time
/home/azureuser/JijBenchmark/jijbench/evaluation/evaluation.py:132: RuntimeWarning: divide by zero encountered in double_scalars
  return np.log(1 - pr) / np.log(1 - ps) * x.execution_time
/home/azureuser/JijBenchmark/jijbench/evaluation/evaluation.py:132: RuntimeWarning: divide by zero encountered in log
  return np.log(1 - pr) / np.log(1 - ps) * x.execution_time

,success_probability,feasible_rate,residual_energy,TTS(optimal),TTS(feasible),TTS(derived)
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
0,1.0,0.0,-0.850645,0.0,-inf,0.0
1,1.0,0.0,-0.864223,0.0,-inf,0.0

In [14]:
bench.compare(key="solver", values=["experiment_id", "num_reads", "num_sweeps", "energy", "feasible_rate", "TTS(feasible)"])

                               experiment_id  \
solver             openjij_sa_sampler_sample
0       5f3fc20b-e352-4459-b00b-3931a492afcf
1       5f3fc20b-e352-4459-b00b-3931a492afcf

                                              \
solver                               solver1
0       120d800f-4480-4324-97e4-86be412ec45e
1       120d800f-4480-4324-97e4-86be412ec45e

                                                             num_reads  \
solver                               solver2 openjij_sa_sampler_sample
0       56df9ab6-02ad-4e80-af22-86ef4c66134c                         1
1       56df9ab6-02ad-4e80-af22-86ef4c66134c                         1

                                      num_sweeps                  \
solver solver1 solver2 openjij_sa_sampler_sample solver1 solver2
0            1       1                        10      10      10
1            1       1                        10      10      10

                          energy                             feasible_rate  \
solver openjij_sa_sampler_sample solver1 solver2 openjij_sa_sampler_sample
0                        [220.0]     NaN     NaN                       0.0
1                        [200.0]     NaN     NaN                       0.0

                                   TTS(feasible)
solver solver1 solver2 openjij_sa_sampler_sample solver1 solver2
0          NaN     NaN                      -inf     NaN     NaN
1          NaN     NaN                      -inf     NaN     NaN

In [20]:
# 複数ソルバー
def solver1():
    return 100, 1000, 10000

def solver2(qubo, a=2, b=3):
    return f"(x, a, b) = ({qubo}, {a}, {b})"

# dictが引数の場合はtableには保存しない。
bench = jb.Benchmark(
    {"num_reads": [1, 2], "num_sweeps": [10], "qubo": [{"h": [1, 2, 3]}, {"h": [10, 20, 30]}]},
    solver = [solver1, solver2]
)
bench.name_solver_ret(
    {"solver1": ["r1", "r2", "r3"], "solver2": ["r1"]}
)
bench.run()

In [21]:
bench.table

,run_id,experiment_id,benchmark_id,timestamp,energy,energy_min,energy_mean,energy_std,objective,obj_min,...,sampling_time,execution_time,problem_name,instance_name,opt_value,solver,qubo,r1,r2,r3
0,36ada582-0841-4494-9105-3d486a97f83e,01462a59-8267-44a2-9a16-5b10a278172e,57fd4e76-ba74-4367-baf3-25031455c742,2022-03-28 02:50:21.251287,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,travelling_salesman,ftv35,1473.0,solver1,"{'h': [1, 2, 3]}",100.0,1000.0,10000.0
1,eab20e81-f9cb-4b81-9b81-5a715e93e86f,01462a59-8267-44a2-9a16-5b10a278172e,57fd4e76-ba74-4367-baf3-25031455c742,2022-03-28 02:50:21.264906,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,travelling_salesman,ftv35,1473.0,solver1,"{'h': [10, 20, 30]}",100.0,1000.0,10000.0
2,8f4fd42a-9299-4d73-8e3a-13d6518f2fcf,01462a59-8267-44a2-9a16-5b10a278172e,57fd4e76-ba74-4367-baf3-25031455c742,2022-03-28 02:50:21.272879,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,travelling_salesman,ftv35,1473.0,solver1,"{'h': [1, 2, 3]}",100.0,1000.0,10000.0
3,cbb7f9ea-6702-4cbd-ae14-dd2579620440,01462a59-8267-44a2-9a16-5b10a278172e,57fd4e76-ba74-4367-baf3-25031455c742,2022-03-28 02:50:21.280701,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,travelling_salesman,ftv35,1473.0,solver1,"{'h': [10, 20, 30]}",100.0,1000.0,10000.0
0,3bf052d1-63f1-4e28-a393-7b075e2f828c,55091756-ceec-4e3d-9451-a0dbb8f42d88,57fd4e76-ba74-4367-baf3-25031455c742,2022-03-28 02:50:21.289851,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,travelling_salesman,ftv35,1473.0,solver2,"{'h': [1, 2, 3]}","(x, a, b) = ({'h': [1, 2, 3]}, 2, 3)",NaN,NaN
1,51e4c732-e47b-4de2-a907-21a6d856b3a9,55091756-ceec-4e3d-9451-a0dbb8f42d88,57fd4e76-ba74-4367-baf3-25031455c742,2022-03-28 02:50:21.301941,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,travelling_salesman,ftv35,1473.0,solver2,"{'h': [10, 20, 30]}","(x, a, b) = ({'h': [10, 20, 30]}, 2, 3)",NaN,NaN
2,967ad023-77ae-469e-98c7-889860f7db01,55091756-ceec-4e3d-9451-a0dbb8f42d88,57fd4e76-ba74-4367-baf3-25031455c742,2022-03-28 02:50:21.309860,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,travelling_salesman,ftv35,1473.0,solver2,"{'h': [1, 2, 3]}","(x, a, b) = ({'h': [1, 2, 3]}, 2, 3)",NaN,NaN
3,5da976c0-cc42-4cbc-9317-12929aed8a63,55091756-ceec-4e3d-9451-a0dbb8f42d88,57fd4e76-ba74-4367-baf3-25031455c742,2022-03-28 02:50:21.317140,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,travelling_salesman,ftv35,1473.0,solver2,"{'h': [10, 20, 30]}","(x, a, b) = ({'h': [10, 20, 30]}, 2, 3)",NaN,NaN

In [22]:
import jijbench as jb


def updater(multiplier=1):
    next_multiplier = 5 * multiplier
    return next_multiplier

bench = jb.Benchmark(
    {"num_reads": [1], "num_sweeps": [10], "step" : [1, 2, 3]},
    solver = updater
)
bench.name_solver_ret(
    {"updater": ["response", "decoded", "multiplier"]}
)
bench.run()


""" 
experiment = Experiment()
for num_reads in [1]:
    for num_sweeps in [10]:
        for step in [1, 2, 3]:
            kwargs = {"num_reads": num_reads, "num_sweeps": num_sweeps, "step": step}
            with experiment:
                ret = updater(**kwargs)
                # ret = 5
                ret = name_ret(ret, solver_ret_names)
                # ret = {"solver_return_value[0]": 5}
                kwargs |= ret
                #kwargs = {"num_reads": num_reads, "num_sweeps": num_sweeps, "step": step, "multiplier": 5}
"""

' \nexperiment = Experiment()\nfor num_reads in [1]:\n    for num_sweeps in [10]:\n        for step in [1, 2, 3]:\n            kwargs = {"num_reads": num_reads, "num_sweeps": num_sweeps, "step": step}\n            with experiment:\n                ret = updater(**kwargs)\n                # ret = 5\n                ret = name_ret(ret, solver_ret_names)\n                # ret = {"solver_return_value[0]": 5}\n                kwargs |= ret\n                #kwargs = {"num_reads": num_reads, "num_sweeps": num_sweeps, "step": step, "multiplier": 5}\n'

In [23]:
bench.table

,run_id,experiment_id,benchmark_id,timestamp,energy,energy_min,energy_mean,energy_std,objective,obj_min,...,num_feasible,num_samples,sampling_time,execution_time,problem_name,instance_name,opt_value,solver,step,multiplier
0,ade043bb-75f6-4688-8769-29c88cd97cc1,cb965b10-e4a3-492a-9705-f9f2ddf72a82,d8488512-9c93-46c8-bb06-31b75444c7cd,2022-03-28 03:28:12.486117,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,travelling_salesman,ftv35,1473.0,updater,1.0,5.0
1,9cf3e7d6-7fa7-4240-84b5-e04d65db8195,cb965b10-e4a3-492a-9705-f9f2ddf72a82,d8488512-9c93-46c8-bb06-31b75444c7cd,2022-03-28 03:28:12.498000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,travelling_salesman,ftv35,1473.0,updater,2.0,25.0
2,f597286e-325b-40f5-b94b-7de164068b2f,cb965b10-e4a3-492a-9705-f9f2ddf72a82,d8488512-9c93-46c8-bb06-31b75444c7cd,2022-03-28 03:28:12.506313,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,travelling_salesman,ftv35,1473.0,updater,3.0,125.0

In [ ]:
import jijbench as jb
import jijmodeling as jm


def solver1():
    return 100, 1000, 10000

def solver2(qubo, a=2, b=3):
    return f"(x, a, b) = ({qubo}, {a}, {b})"

def gen_model1():
    d1 = jm.Placeholder("d")
    x = jm.Binary("x", shape=(2,))
    problem = jm.Problem("model1")
    problem += x[0] + d1 * x[1]
    return problem

def gen_model2():
    d2 = jm.Placeholder("d")
    x = jm.Binary("x", shape=(2,))
    problem = jm.Problem("model2")
    problem += x[0] + d2 * x[1]
    problem += jm.Constraint("onehot", x[:] == 1)
    return problem


# 今リリースされてるやつでは...
# (instance_name, ph_value)
targets = {
    gen_model1(): [("model1_case1", {"d1": 1}), ("model1_case2", {"d1": 2})],
    gen_model2(): [("model2_case1", {"d2": 10})],
}

# 以下に変更予定
#problemはjijmodelingのproblem
#nstanceは[(instance_name, ph_value),...] 
t1 = jb.JijModelingTarget(
    problem=gen_model1(),
    instance=[("model1_case1", {"d1": 1}), ("model1_case2", {"d1": 2})]
    )

t2 = jb.JijModelingTarget(
    problem=gen_model2(),
    instance=("model2_case1", {"d2": 10})
)

# t3 = jb.PyQUBOTarget()
# t4 = jb.QUBOTarget(qubo=qubo, bias=bias)

# 他にPyQUBOTarget, QUBOTargetがある。

bench = jb.Benchmark(
    {"num_reads": [3, 4, 5], "num_sweeps": [10], "x": [100, 200]},
    solver=[solver1, solver2],
    targets=[t1, t2]
)
bench.run()

In [ ]:
bench.table.dropna(how="all", axis=1)

In [ ]:
tsp_instance = jb.problems.tsp.tsp_instance()
print(tsp_instance.small_list())
print(tsp_instance.medium_list())
print(tsp_instance.large_list())

In [ ]:
tsp_instance.get_instance("small", tsp_instance.small_list()[0])

In [ ]:
jb.problems.tsp.travelling_salesman()